#Dictionary

In [2]:
student = {
    "name": "ali",
    "age": 22
}

In [3]:
student["name"]

'ali'

In [4]:
type(student)

dict

In [5]:
student

{'name': 'ali', 'age': 22}

In [6]:
student["name"] = "yasin"
student["age"] = 22

In [7]:
student

{'name': 'yasin', 'age': 22}

In [8]:
dict_1 = {"name": "ali", "age": 22}
dict_2 = {"name": "yasin", "age": 22}

{'name': 'ali', 'age': 22}

In [9]:
dict_1.update(dict_2)

In [10]:
dict_1

{'name': 'yasin', 'age': 22}

In [11]:
print(dict_1)

{'name': 'yasin', 'age': 22}

In [12]:
print(dict_2.items())

dict_items([('name', 'yasin'), ('age', 22)])

In [13]:
dict_1.keys()

dict_keys(['name', 'age'])

In [14]:
dict_1.values()

dict_values(['yasin', 22])

In [15]:
dict_1.items()

dict_items([('name', 'yasin'), ('age', 22)])

In [16]:
a = {1,2,3,4,5,5,5,5,2}
a

{1, 2, 3, 4, 5}

In [21]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [29]:
a.add(0)
a

{0, 1, 3, 4, 5, 6}

In [33]:
a.remove(0)
print(a)

KeyError: 0

In [34]:
aset = {1,2,3,4,5,6,7,8,9,10}
aset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
aset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
aset.remove(4)

In [47]:
aset

{1, 2, 3, 5, 6, 7, 8, 9}

In [48]:
seta = {1,2,3}
setb = {3,4,5}

In [50]:
seta, setb

({1, 2, 3}, {3, 4, 5})

In [52]:
u = seta.union(setb)
u

{1, 2, 3, 4, 5}

In [54]:
i = seta.intersection(setb)
i

{3}

In [56]:
ix = seta.intersection(seta)
ix

{1, 2, 3}

In [57]:
d = seta.difference(setb)
d

{1, 2}

In [58]:
d = setb.difference(seta)
d

{4, 5}

In [59]:
d = seta.difference(seta)
d

set()

In [61]:
ix = seta.intersection(seta)
ix

{1, 2, 3}